body{
    background-color: black;
    /* background-image: linear-gradient(to right bottom, white, grey, white); */
}

#logotipo{
    background-position: top;
    border-radius: 50%;
    height: 10em;
}

/* BLOCO PRINCIPAL */
#principal{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    border: 10px outset lightslategray;
    border-style:outset;
    border-radius: 5px;
    background-color: whitesmoke;
    /* background-image: linear-gradient(to right bottom, white,grey, white); */
    align-items: center;
    /* margin: 50px; */
}

/* CAMPOS E ELEMENTOS TAREFA */
.elementos{
    display: flex;
    flex-flow: column wrap;
    margin: 20px;
    border: 2px solid black;
    border-radius: 15px;
    background-image: linear-gradient(to top, white, grey, white);
    padding: 10px;
}

.tela-tarefa{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    width: auto;
    max-width: 30em;
    height: 18em;
    overflow: scroll;
}

#lista{
    list-style-type:decimal;
}

.tarefas{
    font-size: 20px;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
}

#form-add{
    align-self: center;
}

#campo-add{
    height: 25px;
    width: 10em;
    align-self: center;
    border-radius: 5px;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#campo-add:hover{
    background-color: gainsboro;
}

#btn-add{
    height: 25px;
    width: auto;
    font-size: 18px;
    text-align: center;
    padding: auto;
    background-color: lightslategrey;
    cursor: pointer;
    align-self: center;
}

/* BOTÕES PARA INTERAGIR COM AS TAREFAS */
.interagir{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* BOTÕES DE MANIPULAÇÃO DA PÁGINA */
.manipular{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* FORMATAÇÃO DOS BOTÕES */
.botoes{
    border-radius: 5px;
    border: 2px solid black;
    height: auto;
    width: auto;
    font-size: 23px;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.botoes:hover{
    transition: 0.1s;
    border: 2px solid white;
    box-shadow: 0 0 5px 2px black;
}
#btn-tema{
    background-color: black;
    color: white;
    border: 2px solid white;
    box-shadow: 0 0 5px 2px black;
}

/* ESTILO UTILIZADO EM CONJUNTO A SCRIPTS (CLIQUES NO BOTÃO) */

/* TAREFA SELECIONADA */
.tar-sel{
    font-size: 22px;
    font-weight: bold;
}

/* ALTERAR ICONES */
    .icone1{list-style-type:armenian;}
    .icone2{list-style-type:circle;}
    .icone3{list-style-type:decimal;}
    .icone4{list-style-type:decimal-leading-zero;}
    .icone5{list-style-type:disc;}
    .icone6{list-style-type:georgian;}
    .icone7{list-style-type:lower-alpha;}
    .icone8{list-style-type:lower-greek;}
    .icone9{list-style-type:lower-latin;}
    .icone10{list-style-type:lower-roman;}
    .icone11{list-style-type:square;}
    .icone12{list-style-type:upper-alpha;}
    .icone13{list-style-type:upper-latin;}
    .icone14{list-style-type:upper-roman;}

/* TEMA ESCURO (DARK) */
.tema-escuro{
    border: 10px outset white !important;
    border-radius: 5px !important;
    background-color: black !important;
    /* background-image: linear-gradient(to bottom, black,grey, black); */
}
.botoes-escuro{
    border-radius: 5px;
    border: 2px solid white;
    height: auto;
    width: auto;
    font-size: 23px;
    cursor: pointer;
    font-weight: bold;
    background-color: black;
    color: white;
}
.botoes-escuro:hover{
    transition: 0.1s;
    border: 2px solid white;
    box-shadow: 0 0 5px 2px white;
}
.tela-escuro{
    background-color: black;
    color: white;
    border: 2px solid white;
}
.botoes-claro{
    background-color: white !important;
    font-size: 23px !important;
    color: black !important;
    border: 2px solid black !important;
    box-shadow: 0 0 5px 2px white !important;
}

