body{
    background-image: linear-gradient(to right, lightgrey, grey, lightgrey);
}

/* BLOCO PRINCIPAL */
.bloco-principal{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    border: 10px;
    border-left: 5px black;
    border-top: 5px black;
    border-right: 5px white;
    border-bottom: 5px white;
    border-style:outset;
    border-radius: 5px;
    background-image: linear-gradient(to right bottom, white,grey, white);
    align-items: center;
}

/* CAMPOS E ELEMENTOS TAREFA */
.tela-tarefa{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    border: 2px solid black;
    width: auto;
    max-width: 30em;
    height: 18em;
    overflow: scroll;
}
.tarefas{
    font-size: 20px;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* ELEMENTOS DO CAMPO TAREFA */
.elementos{
    display: flex;
    flex-flow: column wrap;
    margin: 20px;
}
#campo-add{
    height: 35px;
    width: 15em;
    align-self: center;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#campo-add:hover{
    background-color: gainsboro;
}

#btn-add{
    height: auto;
    width: 5.5em;
    font-size: 23px;
    background-color: slategray;
    cursor: pointer;
    align-self: center;
}

/* BOTÕES PARA INTERAGIR COM AS TAREFAS */
.interagir{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* BOTÕES DE MANIPULAÇÃO DA PÁGINA */
.manipular{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* FORMATAÇÃO DOS BOTÕES */
.botoes{
    border-radius: 5px;
    border: 2px solid black;
    height: auto;
    width: auto;
    font-size: 23px;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.botoes:hover{
    transition: 0.1s;
    border: 2px solid white;
    box-shadow: 0 0 5px 2px black;
}
#btn-tema{
    background-color: black;
    color: white;
    border: 2px solid white;
    box-shadow: 0 0 5px 2px black;
}


/* TEMA ESCURO (DARK) */
.tema-escuro{
    border: 10px;
    border-left: 5px white;
    border-top: 5px white;
    border-right: 5px black;
    border-bottom: 5px black;
    border-style:outset;
    border-radius: 5px;
    background-image: linear-gradient(to right bottom, black,grey, black);
}
.botoes-escuro{
    border-radius: 5px;
    border: 2px solid white;
    height: auto;
    width: auto;
    font-size: 23px;
    cursor: pointer;
    font-weight: bold;
    background-color: black;
    color: white;
}
.botoes-escuro:hover{
    transition: 0.1s;
    border: 2px solid white;
    box-shadow: 0 0 5px 2px white;
}
.tela-escuro{
    background-color: black;
    color: white;
    border: 2px solid white;
}
.botoes-claro{
    background-color: white !important;
    font-size: 23px !important;
    color: black !important;
    border: 2px solid black !important;
    box-shadow: 0 0 5px 2px white !important;
}